body {
    font-family: 'Poppins', sans-serif;
    margin: 0in;
}

nav {
    display: flex;
    align-items: center;
    padding: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.site-logo  {
    width: 100px;
}

section {
    padding: 0 2rem;
}

.hero--section  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero--image    {
    width: 100%;
    padding-top: 2rem;
}

.hero--title--text {
    font-size: 2.25rem;
    align-self: flex-start;
    margin-bottom: 1rem;
}

.hero--desc--text   {
    color: #222222;
    font-size: 1.1rem;
    width: 80%;
    align-self: flex-start;
    margin: 0;
}

.cards-list {
    display: flex;
    gap: 2rem;
    overflow-y: scroll;
    padding-bottom: 2rem;
}

section.card  {
    margin: 3rem 0 2rem;
}

.card--image--container {
    height: 295px;
    width: 236px;
    border-radius: 9px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1rem 0;
    padding: 0.5rem;
}

.availability   {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: #ffffff;
    text-align: center;
    color: #222222;
    padding: 0.3rem;
    width: 80px;
    border-radius: 3px;
}

.star-icon  {
    color: #FE395C;
}

.small-text {
    font-weight: 300;
    color: #222222;
    margin: 0.5rem;
}

.number-of-ratings,
.location   {
    color: #918E9B;
}